<main>
    <h3>Adicionar novo usuário</h3>

    <form [formGroup]="userForm" (ngSubmit)="createUser()">

        <div class="form">
            <div class="form-group a">
                <label for="bankName">Banco</label>
                <input formControlName="bankName" class="form-control" type="text">
            </div>
            <div class="form-group b">
                <label for="bankAgency">Agência</label>
                <input class="form-control" formControlName="bankAgency" type="text">
            </div>
            <div class="form-group c">
                <label for="bankAccount">Conta</label>
                <input formControlName="bankAccount" class="form-control" type="text">
            </div>
            <div class="form-group d">
                <label for="bankAccountDigit">Dígito da conta</label>
                <input formControlName="bankAccountDigit" class="form-control" type="text">
            </div>
            <div class="form-group e">
                <label for="name">Nome</label>
                <input formControlName="name" class="form-control" type="text">
            </div>
            <div class="form-group f">
                <label for="email">E-mail</label>
                <input formControlName="email" class="form-control" type="email">
            </div>
            <div class="form-group g">
                <label for="cpfCnpj">CPF</label>
                <input formControlName="cpfCnpj" class="form-control" type="text">
            </div>
            <div class="form-group h">
                <label for="password">Senha</label>
                <input formControlName="password" class="form-control" type="text">
            </div>
            <div class="form-group i">
                <label for="specialRequests">Requisições especiais</label>
                <select (change)="addToSpecialRequests($event.target)" class="form-select" id="">
                    <option [value]="null">Selecione</option>
                    <option value="list-all-users">List all users</option>
                </select>
            </div>
            <div class="form-group j">
                <label for="userType">Tipo de usuário</label>
                <select formControlName="userType" class="form-select" id="">
                    <option [value]="null">Selecione</option>
                    <option value="READER">READER</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="DEFAULT">DEFAULT</option>
                </select>
            </div>
        </div>

        <div class="d-flex w-100 justify-content-end">
            <button class="secondary-btn" (click)="close()" type="button">Cancelar</button>
            <button class="primary-btn" type="submit">Cadastrar</button>
        </div>
    </form>
</main>