<footer>
    <div class="total align-items-center d-flex justify-content-between"
        *ngIf="currentRoute !== '/users' && currentRoute !== '/projects'">
        <div>
            Total
        </div>
        <div *ngIf="currentRoute === '/'; else byMonth">
            {{totalTime.hours}}:{{totalTime.minutes}}h
        </div>
        <ng-template #byMonth>
            <div>
                {{totalHoursByMonth}}h
            </div>
        </ng-template>
    </div>
    <img class="graphics" routerLink="/graphics" src="../../../assets/icons/graphics-icon.svg" alt="">
    <img *ngIf="loggedUser.userType !== 'READER'" (click)="newShift()" class="add-shift" src="../../../assets/icons/new-shift-icon.svg" alt="">
    <img class="calendar" routerLink="/calendar" src="../../../assets/icons/calendar-icon.svg" alt="">
</footer>