<header>
    <b>{{viewType}}</b>
    <div class="d-flex justify-content-center" *ngIf="viewType === 'Mês'">
        <div class="month d-flex align-items-center">
            <img class="rotate-90" (click)="previousMonth()" src="../../../assets/icons/arrow-down-icon.svg" alt="">
            {{shiftMonth | date: 'MMMM/yyyy'}}
            <img class="rotate-90-neg" (click)="nextMonth()" src="../../../assets/icons/arrow-down-icon.svg" alt="">
        </div>
    </div>
    <div class="d-flex align-items-center">
        <img (click)="openMenu()" src="../../../assets/icons/menu-icon.svg" alt="">
        <!-- <img (click)="download()" src="../../../assets/icons/share-icon.svg" alt="">
        <img class="logout" src="../../../assets/icons/logout.svg" alt=""
            *ngIf="user.userType && user.userType === 'ADMIN'" (click)="logout()"> -->
    </div>
</header>