main {
  height: calc(100vh - 194px);
  header {
    padding: 10px 20px;
    .week-day{
      font-size: 10px;
    }
  }
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    text-align: center;
    height: calc(100% - 35px);

    .previous-month {
      background-color: var(--gray-light);
    }
    .day {
      min-height: 100%;
      font-size: 9px;
      border: 0.5px solid #eceaea;
      text-align: left;
      overflow: hidden;
      overflow-y: scroll;
    }
    .current-day {
      background-color: var(--gray-light);
      color: var(--primary);
      font-weight: 700;
    }
  }
}
