<main>
    <div class="close">
        <img (click)="close()" src="https://corretor.portoseguro.com.br/col/static-files/coberturaprovisoria/assets/icons/close.svg" alt="">
    </div>
    <h1>Saiba mais</h1>

    <div class="text">
        <p>A Cobertura Provisória só é válida para veículos 0km.</p>

        <p> É obrigatória a solicitação de cobertura provisória antes da saída do veículo da concessionária, tendo
            validade por 5 dias corridos, contados a partir da data da saída do veículo. (Ex.: se a data da saída for no
            dia 1º a cobertura terá validade até 24 horas do dia 6).</p>

        <p> A data de início de vigência mencionada na proposta deverá ser a mesma data da saída do veículo da
            concessionária</p>

        <p> O número da cobertura provisória deverá ser informada na proposta.</p>

        <p> <b>Importante</b><br>
            Para solicitar a cobertura provisória, utilize o nº de cotação da <span class="link-porto"><u>Nova Plataforma</u></span>. Caso não tenha,
            selecione
            a opção ”Não possuo o nº da cotação”.</p>
    </div>
</main>