<main>
    <header class="text-center w-100">
        <img src="../../../assets/logo/logo.svg" alt="" class="text-center">
    </header>
    <form [formGroup]="userForm">
        <div class="form-group mb-4 position-relative">
            <label for="email">E-mail</label>
            <input type="text" placeholder="user@agacode.com" (keyup.enter)="login()" class="form-control"
                formControlName="email">
            <i class="bi bi-envelope"></i>
        </div>
        <div class="form-group mb-4 position-relative">
            <label for="password">Senha</label>
            <input type="password" inputmode="numeric" (keyup.enter)="login()" placeholder="******" class="form-control"
                formControlName="password">
            <i class="bi bi-lock"></i>
        </div>
    </form>
    <button type="submit" (click)="login()" class="primary-btn w-100">Entrar</button>
</main>