<main>
    <div class="close">
        <img (click)="close()" src="https://corretor.portoseguro.com.br/col/static-files/coberturaprovisoria/assets/icons/close.svg" alt="">
    </div>
    <h1>Onde fica o número e a série da Nota Fiscal?</h1>

    <div class="text">
        <p>O número e a série de uma nota fiscal geralmente estão impressos no topo do documento, logo abaixo do
            cabeçalho.</p>

        <p> O número da nota fiscal é um número sequencial que identifica a nota fiscal única, e geralmente é composto
            apenas de números. Já a série da nota fiscal é uma identificação adicional, que indica a finalidade da nota
            fiscal. </p>
        <p> A figura abaixo mostra a localização destes números: </p>
    </div>

    <div class="nota"> <img src="https://corretor.portoseguro.com.br/col/static-files/coberturaprovisoria/assets/img/nova-fiscal-v2.png" alt="">
    </div>

</main>