main {
    padding: 28px 0;
    position: relative;
    height: 100vh;
}

.date-time {
    padding: 0 38px;
}

.no-shifts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body {
    margin-top: 40px;
}
