<main>
    <div style="height: 102px;"></div>

    <div class="date-time d-flex align-items-center justify-content-between">
        <img (click)="previousShiftDate()" src="../../../assets/icons/left-arrow-icon.svg" alt="">
        <div class="d-flex flex-column align-items-center">
            <div *ngIf="isToday()">Hoje</div>
            <div>{{shiftDate | date: 'dd/MM/yyyy'}}</div>
        </div>
        <img (click)="nextShiftDate()" src="../../../assets/icons/right-arrow-icon.svg" alt="">
    </div>

    <div class="body" *ngIf="shifts.length > 0; else noShifts">
        <div class="shifts" (click)="updateShift(shift)" *ngFor="let shift of shifts; index as i">
            <app-shift-item [index]="i" [shift]="shift"></app-shift-item>
        </div>
    </div>
    <ng-template #noShifts>

        <div class="no-shifts d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/icons/alert-icon.svg" alt="">
            <div class="text-center">Nenhum ponto registrado</div>
        </div>

    </ng-template>
</main>